---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC - Membership Application</title>
<link rel="stylesheet" href="/assets/styles.css">

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>Membership Eligibility Requirements</h2>

   <p>In order to be eligible for the SFBAFCC membership, candidates
  must:</p>

  <ol>
    <li>
      Be film critics living in the Greater Bay Area (i.e., San
      Francisco, the East Bay, Marin County, Sacramento area, and the
      South Bay encompassing San Jose) working regularly for at least
      two years in a professional journalistic medium, including
      print, TV, radio, and the internet, but not college or
      university media.
    </li>

    <li>
      Be published or broadcast in the medium at least 50 times
      annually, and have been for at least two full years prior to
      applying for membership.
    </li>

    <li>
      Not be in the paid employ of filmmakers, distributors,
      exhibitors, publicity firms, or advertising agencies.
    </li>

    <li>
      See the majority of major releases in any given year of
      membership in the course of their work as critics.
    </li>

    <li>
      Agree during their first year of membership to a minimum of 10
      hours' attendance at SFBAFCC functions beyond the mandatory
      annual awards meeting.
    </li>
  </ol>
</div>

<div class="section-light">
  <h3>How to Apply</h3>

  <p>
    Fill and submit your application
    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdr-5WlyxA-o6Y_GLZ_Gzi8ZlMlxQPve-hZDGzJ7d0XfkJPgg/viewform?usp=header">
      here.
    </a>
  </p>
</div>

{% include footer.html %}

</body>
</html>


