---
layout: default
title: Frameline Awards
rainbow_title: true
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC – Frameline Outstanding First Narrative Feature Award</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

  {% include header.html %}
  
<div class="section-light">
  <h2 class="rainbow-underline">Frameline Outstanding First Narrative Feature Award</h2>

  <p>
    Since 2020, the San Francisco Bay Area Film Critics Circle has served as the official jury for the
    <b>Outstanding First Narrative Feature Award</b> at the
    <a target="_blank" href="https://www.frameline.org/festival"><b>San Francisco International LGBTQ+ Film Festival (Frameline)</b></a>.
    This distinction is presented annually to an exemplary debut narrative feature, recognizing a significant
    emerging voice in LGBTQ+ cinema.
  </p>
</div>

<!-- 2026 -->
<div class="section-light">
  <h3 class="rainbow-underline">2026</h3>

  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt39143902/"><b><i>Leviticus</i></b></a>
      (Australia 2026 | 88 min. | dir. Adrian Chiarella)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt35432768/"><b><i>Test</i></b></a>
      (USA 2026 | 113 min. | dir. Sam McConnell)
    </li>
  </ul>

  <p>
    Two films impressed the SFBAFCC jury so much that we’re honoring both this year. Adrian Chiarella's intense
    directorial debut <b><i>Leviticus</i></b> floored the jury not only because of how confident and accomplished it
    was for a first feature, but how it complexly explored issues pertaining to internal and external homophobia
    through the guise of a horror film.
  </p>

  <p>
    Sam McConnell’s gritty sports-themed drama <b><i>Test</i></b> knocked us all out not only by its endearing,
    volcanic star-making turn from screenwriter Brock Yurich but for how it never once hit an inauthentic note in a
    searing portrayal of a closeted amateur bodybuilder trying to make his own mark and find connection with another
    man in the process. Congrats to both.
  </p>
</div>

<!-- 2025 -->
<div class="section-light">
  <h3 class="rainbow-underline">2025</h3>
  <p>
    <a target="_blank" href="https://www.imdb.com/title/tt35051106/"><b><i>The Nature of Invisible Things</i></b></a>
    (A Natureza das Coisas Invisíveis | Brazil/Chile 2025 | 90 min | dir. Rafaela Camelo)
  </p>
</div>

<!-- 2024 -->
<div class="section-light">
  <h3 class="rainbow-underline">2024</h3>
  <p>
    <a target="_blank" href="https://www.imdb.com/title/tt31493043/"><b><i>Lucky, Apartment</i></b></a>
    (&#47085;&#53412;, &#50500;&#54028;&#53944; | South Korea 2024 | 96 min. | dir. Garam Kangyu)
  </p>
</div>

<!-- 2023 -->
<div class="section-light">
  <h3 class="rainbow-underline">2023</h3>
  <p>
    <a target="_blank" href="https://www.imdb.com/title/tt24486184/"><b><i>Big Boys</i></b></a>
    (USA 2023 | 90 min. | dir. Corey Sherman)
  </p>
</div>

<!-- 2022 -->
<div class="section-light">
  <h3 class="rainbow-underline">2022</h3>
  <p>
    <a target="_blank" href="https://www.imdb.com/title/tt13817770/"><b><i>So Damn Easy Going</i></b></a>
    (S&#229; j&#228;vla easy going | Sweden/Norway 2022 | 91 min. | dir. Christoffer Sandler)
  </p>
</div>

<!-- 2021 -->
<div class="section-light">
  <h3 class="rainbow-underline">2021</h3>

  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt14031338/"><b><i>Language Lessons</i></b></a>
      (USA 2021 | 91 min. | dir. Natalie Morales)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt4061620/"><b><i>Firebird</i></b></a>
      (UK/Estonia 2021 | 107 min. | dir. Peeter Rebane)
    </li>
  </ul>
</div>

<!-- 2020 -->
<div class="section-light">
  <h3 class="rainbow-underline">2020</h3>
  <p>
    <a target="_blank" href="https://www.imdb.com/title/tt9845110/"><b><i>Two of Us</i></b></a>
    (Deux | France/Luxembourg/Belgium 2019 | 99 min. | dir. Filippo Meneghetti)
  </p>
</div>

{% include footer.html %}

</body>
</html>
