---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC – Members</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

  {% include header.html %}

  <main class="subpage-content">
    
<ol class="member-list">

<li><strong>Tony An</strong> (Board)<br>
<a href="https://ynotmovies.blogspot.com/" target="_blank">YNOT at the Movies</a></li>

<li><strong>Erik Anderson</strong><br>
<a href="https://www.awardswatch.com/" target="_blank">AwardsWatch</a></li>

<li><strong>Jeffrey M. Anderson</strong><br>
<a href="https://www.commonsensemedia.org/bio/jeffrey-m-anderson" target="_blank">Common Sense Media</a><br>
<a href="https://www.combustiblecelluloid.com/other.shtml" target="_blank">Combustible Celluloid</a><br>
SF Examiner</li>

<li><strong>Sean Au</strong><br>
<a href="https://ktsf.wpengine.com/news/anchors-and-reporters/sean-au/" target="_blank">KTSF</a></li>

<li><strong>Daniel Barnes</strong><br>
<a href="https://daredaniel.com/" target="_blank">Dare Daniel</a></li>

<li><strong>Peter Canavese</strong><br>
<a href="https://soundcloud.com/user-782049152" target="_blank">Celluloid Dreams - The Movie Show</a><br>
<a href="https://www.grouchoreviews.com/" target="_blank">Groucho Reviews</a></li>

<li><strong>Marco Cerritos</strong><br>
<a href="https://themovielens.com/" target="_blank">The Movie Lens</a></li>

<li><strong>Andrea Chase</strong><br>
<a href="http://www.killermoviereviews.com/" target="_blank">Killer Movie Reviews</a></li>

<li><strong>Cheryl Eddy</strong><br>
<a href="https://gizmodo.com/io9" target="_blank">io9</a></li>

<li><strong>Michael Fox</strong> (Board)<br>
<a href="https://www.kqed.org/author/mfox" target="_blank">KQED Arts & Culture</a></li>

<li><strong>Pam Grady</strong><br>
San Francisco Chronicle<br>
<a href="https://cinezinekane.com/" target="_blank">Cinezine Kane</a></li>

<li><strong>Dennis Harvey</strong><br>
<a href="https://48hills.org/author/dennis-harvey/" target="_blank">48 Hills</a></li>

<li><strong>G. Allen Johnson</strong><br>
<a href="https://www.sfchronicle.com/author/g-allen-johnson/" target="_blank">San Francisco Chronicle</a></li>

<li><strong>Rain Jokinen</strong><br>
<a href="https://mullingmovies.com/" target="_blank">Mulling Movies</a></li>

<li><strong>Carrie Kahn</strong><br>
<a href="https://spinningplatters.com/author/carrie/" target="_blank">Spinning Platters</a></li>

<li><strong>Anita Katz</strong><br>
<a href="https://localnewsmatters.org/author/anita-katz-bay-city-news-foundation/" target="_blank">Bay City News Service</a></li>

<li><strong>Randy Myers</strong><br>
<a href="https://www.mercurynews.com/author/randy-myers/" target="_blank">Bay Area News Group</a></li>

<li><strong>Tim Sika</strong> (President)<br>
<a href="https://www.youtube.com/@theafterpartylive/videos" target="_blank">The After Party Live!</a></li>

<li><strong>Kit Stone</strong> (Board)<br>
<a href="https://huewatchedit.com/author/bykitstone/" target="_blank">Hue Watched It</a></li>

<li><strong>Mel Valentin</strong><br>
<a href="https://cinapse.co/author/mel/" target="_blank">Cinapse</a><br>
<a href="https://screenanarchy.com/globalvoices/mel-valentin/" target="_blank">Screen Anarchy</a><br>
<a href="https://thatshelf.com/author/mel-valentin/" target="_blank">That Shelf</a></li>

<li><strong>Kelly Vance</strong><br>
<a href="https://eastbayexpress.com/author/kellyvance/" target="_blank">East Bay Express</a></li>

<li><strong>Yar Wei</strong><br>
<a href="https://www.chineseradio.com/main/filmprivatekitchens/" target="_blank">Sing Tao Chinese Radio</a></li>

<li><strong>Peter Wong</strong><br>
<a href="https://beyondchron.org/author/peter/" target="_blank">Beyond Chron</a></li>

<li><strong>Sura Wood</strong><br>
<a href="http://www.sfarts.org/" target="_blank">SF Arts</a></li>

</ol>
</main>

{% include footer.html %}

</body>
</html>
