---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC – Members</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<main class="subpage-content">

<!-- ========================================================= -->
<!-- ACTIVE MEMBERS -->
<!-- ========================================================= -->

<div class="section-light">
  <h2>Active Members</h2>

  <ul class="member-list">

    <!-- A -->
    <li><strong>Tony An</strong> (Board)<br>
    <a href="https://ynotmovies.blogspot.com/" target="_blank">YNOT at the Movies</a></li>

    <li><strong>Erik Anderson</strong><br>
    <a href="https://www.awardswatch.com/" target="_blank">AwardsWatch</a></li>

    <li><strong>Jeffrey M. Anderson</strong><br>
    <a href="https://www.commonsensemedia.org/bio/jeffrey-m-anderson" target="_blank">Common Sense Media</a><br>
    <a href="https://www.combustiblecelluloid.com/other.shtml" target="_blank">Combustible Celluloid</a><br>
    SF Examiner</li>

    <li><strong>Sean Au</strong><br>
    <a href="https://ktsf.wpengine.com/news/anchors-and-reporters/sean-au/" target="_blank">KTSF</a></li>

    <!-- B -->
    <li><strong>Daniel Barnes</strong><br>
    <a href="https://daredaniel.com/" target="_blank">Dare Daniel</a></li>

    <!-- C -->
    <li><strong>Peter Canavese</strong><br>
    <a href="https://soundcloud.com/user-782049152" target="_blank">Celluloid Dreams</a><br>
    <a href="https://www.grouchoreviews.com/" target="_blank">Groucho Reviews</a></li>

    <li><strong>Marco Cerritos</strong><br>
    <a href="https://themovielens.com/" target="_blank">The Movie Lens</a></li>

    <li><strong>Andrea Chase</strong><br>
    <a href="http://www.killermoviereviews.com/" target="_blank">Killer Movie Reviews</a></li>

    <!-- E -->
    <li><strong>Cheryl Eddy</strong><br>
    <a href="https://gizmodo.com/io9" target="_blank">io9</a></li>

    <!-- F -->
    <li><strong>Jesse Hawthorne Ficks</strong><br>
    <a href="https://48hills.org/author/jesse-hawthorne-ficks/" target="_blank">48 Hills</a></li>

    <li><strong>Michael Fox</strong> (Board)<br>
    <a href="https://www.kqed.org/author/mfox" target="_blank">KQED Arts & Culture</a></li>

    <!-- G -->
    <li><strong>Pam Grady</strong><br>
    San Francisco Chronicle<br>
    <a href="https://cinezinekane.com/" target="_blank">Cinezine Kane</a></li>

    <!-- H -->
    <li><strong>Dennis Harvey</strong><br>
    <a href="https://48hills.org/author/dennis-harvey/" target="_blank">48 Hills</a></li>

    <li><strong>Zaki Hasan</strong><br>
    <a href="https://www.spreaker.com/podcast/the-moviefilm-podcast--3586800" target="_blank">The MovieFilm Podcast</a><br>
    San Francisco Chronicle</li>

    <li><strong>Dana Han‑Klein</strong><br>
    <a href="https://werewatchingwhat.com/author/thedhk/" target="_blank">We're Watching What?!</a></li>

    <!-- J -->
    <li><strong>G. Allen Johnson</strong><br>
    <a href="https://www.sfchronicle.com/author/g-allen-johnson/" target="_blank">San Francisco Chronicle</a></li>

    <li><strong>Rain Jokinen</strong><br>
    <a href="https://mullingmovies.com/" target="_blank">Mulling Movies</a></li>

    <!-- K -->
    <li><strong>Carrie Kahn</strong><br>
    <a href="https://spinningplatters.com/author/carrie/" target="_blank">Spinning Platters</a></li>

    <li><strong>Anita Katz</strong><br>
    <a href="https://localnewsmatters.org/author/anita-katz-bay-city-news-foundation/" target="_blank">Bay City News Service</a></li>

    <!-- M -->
    <li><strong>Carla Meyer</strong><br>
    S.F. Chronicle</li>

    <li><strong>Randy Myers</strong><br>
    <a href="https://www.mercurynews.com/author/randy-myers/" target="_blank">Bay Area News Group</a></li>

    <!-- S -->
    <li><strong>Tim Sika</strong> (President)<br>
    <a href="https://www.youtube.com/@theafterpartylive/videos" target="_blank">The After Party Live!</a></li>

    <li><strong>Michael Snyder</strong><br><a target="_blank" href="https://thevoicesf.org/author/michael-snyder/">The Voice of San Francisco</a></li>
    
    <li><strong>Kit Stone</strong> (Board)<br>
    <a href="https://huewatchedit.com/author/bykitstone/" target="_blank">Hue Watched It</a></li>

    
    <!-- V -->
    <li><strong>Mel Valentin</strong><br>
    <a href="https://cinapse.co/author/mel/" target="_blank">Cinapse</a><br>
    <a href="https://screenanarchy.com/globalvoices/mel-valentin/" target="_blank">Screen Anarchy</a><br>
    <a href="https://thatshelf.com/author/mel-valentin/" target="_blank">That Shelf</a></li>

    <li><strong>Kelly Vance</strong><br>
    <a href="https://eastbayexpress.com/author/kellyvance/" target="_blank">East Bay Express</a></li>

    <!-- W -->
    <li><strong>Yar Wei</strong><br>
    <a href="https://www.chineseradio.com/main/filmprivatekitchens/" target="_blank">Sing Tao Chinese Radio</a></li>

    <li><strong>Peter Wong</strong><br>
    <a href="https://beyondchron.org/author/peter/" target="_blank">Beyond Chron</a></li>

  </ul>
</div>


<!-- ========================================================= -->
<!-- INACTIVE MEMBERS -->
<!-- ========================================================= -->

<div class="section-light">
  <h2>Inactive Members</h2>

  <ul class="member-list">

    <li><strong>Walter Addiego</strong><br>San Francisco Chronicle</li>

    <li><strong>Bernard Boo</strong><br>
    Den of Geek<br>
    We Got This Covered<br>
    Pop Matters</li>

    <li><strong>Susie Bright</strong><br><a target="_blank" href="https://susiebright.ink/">Susie Bright's Journal</a></li>

    <li><strong>Fernando F. Croce</strong><br>Cinepassion</li>

    <li><strong>Peter Hartlaub</strong><br>San Francisco Chronicle</li>

    <li><strong>Leba Hertz</strong><br>San Francisco Chronicle</li>

    <li><strong>Inkoo Kang</strong><br>The Wrap</li>

    <li><strong>Jonathan Kiefer</strong><br><a target="_blank" href="https://www.screenslate.com/authors/jonathan-kiefer">Screen Slate</a></li>

    <li><strong>Mick LaSalle</strong><br><a target="_blank" href="https://www.sfchronicle.com/author/mick-lasalle/">San Francisco Chronicle</a></li>

    <li><strong>Kevin McFarland</strong><br><a target="_blank" href="kevin-mcfarland.com">kevin-mcfarland.com</a></li>

    <li><strong>Omar P.L. Moore</strong><br><a target="_blank" href="https://www.popcornreel.com/">The Popcorn Reel</a></li>

    <li><strong>Michael Seringhaus</strong><br><a target="_blank" href="https://www.parsinghaus.com/">Parsing Haus</a></li>

    <li><strong>Ruthe Stein</strong><br><a target="_blank" href="https://www.sfgate.com/author/ruthe-stein/">San Francisco Chronicle</a></li>

    <li><strong>Richard Von Busack</strong><br><a target="_blank" href="https://www.metrosiliconvalley.com/author/rvonbusack/">Metro Newspapers</a></li>

    <li><strong>Jan Wahl</strong><br>
    San Francisco Bay Times<br>
    Armed Forces Radio Network<br>
    Fromm University USF</li>

    <li><strong>Jason Walsh</strong><br>Press Onward</li>

    <li><strong>Bill Watters</strong><br><a target="_blank" href="https://nerdbot.com/author/bill-watters/">Nerdbot</li</a></li>

    <li><strong>Dennis Willis</strong><br>KSAN (107.7 The Bone)</li>
    
    <li><strong>Sura Wood</strong><br>
    <a href="http://www.sfarts.org/" target="_blank">SF Arts</a></li>


  </ul>
</div>

</main>

{% include footer.html %}

</body>
</html>
