---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC - Marlon Riggs Award</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>Marlon Riggs Award</h2>

  <p>
    The Marlon Riggs Award is given annually in honor of the late Bay Area filmmaker and activist <b><a target="_blank" href="https://marlonriggs.com/">Marlon Riggs</a></b>.
    This award celebrates courage, innovation, and vision within the Bay Area film community. It recognizes
    individuals or organizations whose work embodies Riggs' legacy of social engagement, artistic integrity,
    and a commitment to diverse and inclusive storytelling.
  </p>
</div>

<!-- 2025 -->
<div class="section-light">
  <h3>2025</h3>

  <p><b><i>Karen Larsen</i></b></p>

  <p>
    Karen Larsen has devoted decades of distinguished service to the
    San Francisco Bay Area film community, championing independent
    films and world cinema with unwavering dedication. Through her
    tireless work as a publicist and advocate, she has elevated
    countless filmmakers and supported numerous local film festivals,
    enriching the cultural fabric of the region.
  </p>

  <p>
    Her enduring commitment to amplifying diverse voices and fostering
    cinematic discovery exemplifies the spirit of the Marlon Riggs
    Award. We celebrate her extraordinary contribution by honoring her
    with this award.
  </p>
</div>

<!-- 2024 -->
<div class="section-light">
  <h3>2024</h3>

  <p><b><i>Rahsaan "New York" Thomas, Cori Thomas, and the San Quentin Film Festival</i></b></p>

  <p>
    One of the most inspiring film events of 2024 was the
    first <a target="_blank"
    href="https://www.sanquentinfilmfestival.com/">San Quentin Film
    Festival</a> &#8212; a groundbreaking festival held inside the
    facility and featuring work created by incarcerated men. The
    festival is the brainchild of <a target="_blank"
    href="https://www.imdb.com/name/nm12551543/">Rahsaan "New York"
    Thomas</a> and Cori Thomas, who together made the impossible
    possible and achieved something remarkable in every way.
  </p>

  <p>
    Rahsaan is a filmmaker and award-winning podcaster whose work
    elevates conversations &#8212; much in the spirit of Marlon Riggs
    &#8212; about incarceration, humanity, and artistic
    expression. Their efforts opened eyes, expanded understanding, and
    showcased extraordinary talent within the prison walls.
  </p>
</div>

<!-- 2023 -->
<div class="section-light">
  <h3>2023</h3>

  <p><b><i>H.P. Mendoza</i></b></p>

  <p>
    For being such a Bay Area force and a beacon of creativity, inspiration, and expression. His last film
    attests to his versatility and deft comedic hand. It's been quite a year for the San Francisco native.
  </p>

  <p>
    First, <a target="_blank"
    href="https://www.imdb.com/name/nm2208558/">H.P. Mendoza</a>
    transformed his 2021 art installation <b><i><a target="_blank"
    href="https://www.imdb.com/title/">Attack, Decay,
    Release</a></i></b> (2021) into a moving, raucous multimedia
    extravaganza melding a feature film with live performance. Then he
    premiered his latest feature,
    <b><i><a target="_blank"
    href="https://www.imdb.com/title/tt13407984">The Secret Art of
    Human Flight</a></i></b> (2023), at Tribeca and toured with it through the festival circuit, collecting
    awards along the way.
  </p>

  <p>
    His first film not made from his own script nevertheless continues his ongoing exploration of the ties that bind.
  </p>
</div>

<!-- 2022 -->
<div class="section-light">
  <h3>2022</h3>

  <p><b><i>Phil Tippett</i></b></p>

  <p>
    We are pleased to honor longtime Berkeley
    resident <a target="_blank"
    href="https://www.imdb.com/name/nm0864138/">Phil Tippett</a>
    for <i>Mad God</i>, his 30-years-in-the-making film, and for his
    legendary contributions to animation and visual effects. As the
    founder of Tippett Studio, he has kept the craft alive and
    thriving in the Bay Area.
  </p>
</div>

<!-- 2021 -->
<div class="section-light">
  <h3>2021</h3>

  <p><b><i>Rita Moreno</i></b></p>

  <p>
    We honor the longtime Berkeley resident's remarkable 2021, in which her Sundance documentary
    <b><i><a target="_blank"
    href="https://www.imdb.com/title/tt10741846">Rita Moreno: Just a
    Girl Who Decided to Go For It</a></i></b> (2021) not only
    summarized an extraordinary career but also addressed issues of
    mental health and aging. Her moving turn in Steven Spielberg's
    <b><i><a target="_blank"
    href="https://www.imdb.com/title/tt3581652">West Side
    Story</a></i></b> (2021) &#8212; a work with which she has a long
    history &#8212; further demonstrated her enduring artistic
    vitality, all in celebration of her 90th birthday.
  </p>
</div>

<!-- 2020 -->
<div class="section-light">
  <h3>2020</h3>
  <p><b><i>Dawn Porter</i></b></p>
</div>


<!-- 2019 -->
<div class="section-light">
  <h3>2019</h3>
  <p><b><i>Jimmie Fails and Joe Talbot</i></b></p>
</div>

<!-- 2018 -->
<div class="section-light">
  <h3>2018</h3>
  <p><b><i>Boots Riley</i></b></p>
  <p>
    The musician-turned-filmmaker <a target="_blank"
    href="https://www.imdb.com/name/nm1108556/">Boots Riley</a> made
    one of the most distinctive debut features of 2018: the crazy,
    shot-in-Oakland <b><i><a target="_blank"
    href="https://www.imdb.com/title/tt5688932">Sorry to Bother
    You</a></i></b> (2018). The Oakland resident's influence extends
    throughout the Bay Area and beyond. His film generated big buzz at
    the Sundance Film Festival, where it debuted this year, and he's
    developing a new TV series.
  
</div>

<!-- 2017 -->
<div class="section-light">
  <h3>2017</h3>
  <p><b><i>Peter Bratt</i></b></p>
</div>

<!-- 2016 -->
<div class="section-light">
  <h3>2016</h3>
  <p><b><i>Joshua Grannell (a.k.a. Peaches Christ)</i></b></p>
</div>

<!-- 2015 -->
<div class="section-light">
  <h3>2015</h3>
  <p><b><i>Lee Tung Foo (a.k.a. Frank Lee)</i></b></p>
</div>

<!-- 2014 -->
<div class="section-light">
  <h3>2014</h3>
  <p><b><i>Joel Shepard</i></b></p>
</div>

<!-- 2013 -->
<div class="section-light">
  <h3>2013</h3>
  <p><b><i>Ryan Coogler</i></b></p>
</div>

<!-- 2012 -->
<div class="section-light">
  <h3>2012</h3>
  <p><b><i>Peter Nicks</i></b></p>
</div>

<!-- 2011 -->
<div class="section-light">
  <h3>2011</h3>
  <p><b><i>National Film Preservation Foundation</i></b></p>
</div>

<!-- 2010 -->
<div class="section-light">
  <h3>2010</h3>
  <p><b><i>Elliot Lavine</i></b></p>
  <P>
  In recognition of his two decades of film programming, his revival
  of rare archival and independent titles, and his role in the renewed
  popularity of film noir and pre-Production Code features. 
</div>

<!-- 2009 -->
<div class="section-light">
  <h3>2009</h3>
  <p><b><i>Frazer Bradshaw / Barry Jenkins (tie)</i></b></p>
</div>

<!-- 2008 -->
<div class="section-light">
  <h3>2008</h3>
  <p><b><i>Rob Nilsson</i></b></p>
</div>

<!-- 2007 -->
<div class="section-light">
  <h3>2007</h3>
  <p><b><i>Lynn Hershman Leeson</i></b></p>
</div>

<!-- 2006 -->
<div class="section-light">
  <h3>2006</h3>
  <p><b><i>Stephen Salmons</i></b> &#8212; co-founder and artistic director of the San Francisco Silent Film Festival</p>
</div>

<!-- 2005 -->
<div class="section-light">
  <h3>2005</h3>
  <p><b><i>Jenni Olson</i></b></p>
</div>

<!-- 2004 -->
<div class="section-light">
  <h3>2004</h3>
  <p><b><i>Anita Monga</i></b> -- former programmer for the Castro Theatre</p>
</div>

<!-- 2003 -->
<div class="section-light">
  <h3>2003</h3>
  <p><b><i>Sam Green</i></b></p>
</div>


{% include footer.html %}

</body>
</html>
