---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SFBAFCC – Special Citation</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>Special Citation</h2>

  <p>
    The Special Citation is awarded to a film or filmmaker that may not fit traditional categories but
    demonstrates exceptional creativity, innovation, or impact. It reflects SFBAFCC’s commitment to recognizing
    unique voices and works that expand the boundaries of cinema.
  </p>
</div>

<!-- 2025 -->
<div class="section-light">
  <h3>2025</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt31092150"><i>Brother Verses Brother</i></a> (USA 2025 | 91 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt35423402"><i>The Encampments</i></a> (USA 2025 | 81 min. | Documentary)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt29279903"><i>Happyend</i></a> (Japan 2024 | in Japanese | 113 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt31322753"><i>Twinless</i></a> (USA 2025 | 100 min.) &#8212; <b>WINNER</b>
    </li>
  </ul>
</div>

<!-- 2024 -->
<div class="section-light">
  <h3>2024</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt20114686"><i>Femme</i></a> (UK 2023 | 99 min.) &#8212; <b>WINNER</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt28523838"><i>Exhibiting Forgiveness</i></a> (USA 2024 | 117 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt13407984"><i>The Secret Art of Human Flight</i></a> (USA 2023 | 107 min.)
    </li>
  </ul>
</div>

<!-- 2023 -->
<div class="section-light">
  <h3>2023</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt17679584"><i>The Blue Caftan</i></a> (Morocco 2022 | in Arabic | 123 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt18382328"><i>Earth Mama</i></a> (USA 2023 | 101 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt8591526"><i>Fremont</i></a> (USA 2023 | 92 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
  </ul>
</div>

<!-- 2022 -->
<div class="section-light">
  <h3>2022</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt13650600"><i>Emergency</i></a> (USA 2022 | 105 min.) &#8212; <b>WINNER</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt8462814"><i>Servants</i></a> (Slovakia 2020 | in Slovak | 80 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt10506876"><i>Topside</i></a> (USA 2020 | 90 min.)
    </li>
  </ul>
</div>

<!-- 2021 -->
<div class="section-light">
  <h3>2021</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt4292432"><i>Kuessipan</i></a> (Canada 2019 | in French | 117 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt10121508"><i>Test Pattern</i></a> (USA 2019 | 82 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
  </ul>
</div>

<!-- 2020 -->
<div class="section-light">
  <h3>2020</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt10767168"><i>La Llorona</i></a> (Guatemala 2019 | in Spanish | 97 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt7802246"><i>The Last Tree</i></a> (UK 2019 | 99 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt11618536"><i>Sh*thouse</i></a> (USA 2020 | 99 min.) &#8212; <b>WINNER (Tie)</b>
    </li>
  </ul>
</div>

<!-- 2019 -->
<div class="section-light">
  <h3>2019</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt5360232"><i>The Cat and the Moon</i></a> (USA 2019 | 114 min.)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt10003978"><i>Fiddler: A Miracle of Miracles</i></a> (USA 2019 | 97 min. | Documentary)
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt7914416"><i>One Cut of the Dead</i></a> (Japan 2017 | in Japanese | 97 min.) &#8212; <b>WINNER</b>
    </li>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt8026554"><i>Socrates</i></a> (Brazil 2018 | in Portuguese | 71 min.)
    </li>
  </ul>
</div>

<!-- 2018 -->
<div class="section-light">
  <h3>2018</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt3986820"><i>The
      Endless</i></a> (USA 2017 | 111 min.) &#8212; <b>WINNER</b>
    </li>
  </ul>
</div>

<!-- 2017 -->
<div class="section-light">
  <h3>2017</h3>
  <ul>
    <li>
      <a target="_blank" href="https://www.imdb.com/title/tt5279122"><i> Brimstone & Glory</i></a> (USA 2017 | 67 min. | Documentary) &#8212; <b>WINNER</b>
    </li>
    <li><a target="_blank" href="https://www.imdb.com/title/tt5990474">Columbus</a> (USA 2017 | 104 min.)
    <li><a target="_blank" href="https://www.imdb.com/title/tt5556766">The Other Kids</a> (USA 2016 | 95 min.)
  </ul>
</div>

<!-- 2016 -->
<div class="section-light">
  <h3>2016</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt4238858"><i>The Fits</i></a>
    (USA 2015 | 72 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2015 -->
<div class="section-light">
  <h3>2015</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt3066630">Guy Maddin
    &#8212; <i>The Forbidden Room</i></a> (Canada 2015 | 119
    min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2014 -->
<div class="section-light">
  <h3>2014</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt2756032"><i>The One I
    Love</i></a> (USA 2014 | 91 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2013 -->
<div class="section-light">
  <h3>2013</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt2007360"><i>Computer
    Chess</i></a> (USA 2013 | 92 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2012 -->
<div class="section-light">
  <h3>2012</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt2287749"><i>Girl Walk//All
    Day</i></a> (USA 2011 | 78 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2011 -->
<div class="section-light">
  <h3>2011</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt1324055"><i>The Mill and the
    Cross</i></a> (Poland 2011 | 96 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2009 -->
<div class="section-light">
  <h3>2009</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt1172203"><i>Sita Sings the
    Blues</i></a> (USA 2008 | 82 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2007 -->
<div class="section-light">
  <h3>2007</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt0784977"><i>Colma: The
    Musical</i></a> (USA 2006 | 100 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2006 -->
<div class="section-light">
  <h3>2006</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt0456149"><i>The Death of
    Mr. Lazarescu</i></a> (Romania 2005 | in Romanian | 153 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2003 -->
<div class="section-light">
  <h3>2003</h3>
  <ul>
    <li><a target="_blank"
    href="https://www.imdb.com/title/tt0318034"><i>Russian Ark</i></a>
    (Russia 2002 | in Russian | 96 min.) &#8212; <b>WINNER</b></i>
  </ul>
</div>

<!-- 2002 -->
<div class="section-light">
  <h3>2002</h3>
  <ul>
    <li><a target="_blank" href="https://www.imdb.com/title/tt0252444">Phillip Noyce &#8212; <i>Rabbit-Proof Fence</i></a> (Australia 2002 | 93 min.) and <a target="_blank" href="https://www.imdb.com/title/tt0258068"><i>The Quiet American</i></a> (USA 2002 | 101 min.) &#8212; <b>WINNER</b></li>
    <li><a target="_blank" href="https://www.imdb.com/title/tt0324369">Jay Rosenblatt and Caveh Zahedi &#8212; <i>Underground Zero</i></a> (USA 2002 | 76 min. | Documentary) &#8212; <b>WINNER</b></li>
  </ul>
</div>


{% include footer.html %}

</body>
</html>
