<footer>
  <a href="/index.html" class="hero-link-wrapper"  title="SFBAFCC Home" alt="SFBAFCC">&#169; The San Francisco Bay Area Film Critics Circle</a>

  <div class="footer-social">
    <a href="https://www.facebook.com/SFCritics" target="_blank" rel="noopener" aria-label="Facebook" title="Facebook">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path d="M22 12a10 10 0 1 0-11.5 9.9v-7h-2v-3h2v-2.3c0-2 1.2-3.1 3-3.1.9 0 1.8.1 1.8.1v2h-1c-1 0-1.3.6-1.3 1.2V12h2.6l-.4 3h-2.2v7A10 10 0 0 0 22 12"/>
      </svg>
    </a>

    <span class="separator">&#8226;</span>

    <a href="https://x.com/sfbafcc" target="_blank" rel="noopener" aria-label="X (Twitter)" title="X (Twitter)">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path d="M18.2 2H21l-6.5 7.4L22 22h-5.8l-4.5-6-5 6H2l7.1-8.2L2 2h6l4.1 5.5z"/>
      </svg>
    </a>

    <span class="separator">&#8226;</span>

    <a href="https://www.instagram.com/sfbafcc/" target="_blank" rel="noopener" aria-label="Instagram" title="Instagram">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path d="M7 2h10a5 5 0 0 1 5 5v10a5 5 0 0 1-5 5H7a5 5 0 0 1-5-5V7a5 5 0 0 1 5-5zm5 5.5A4.5 4.5 0 1 0 16.5 12 4.5 4.5 0 0 0 12 7.5zm6.2-2.7a1.3 1.3 0 1 0 1.3 1.3 1.3 1.3 0 0 0-1.3-1.3z"/>
      </svg>
    </a>

    <span class="separator">&#8226;</span>
    
    <a href="https://letterboxd.com/SFBAFCC/" target="_blank" rel="noopener" aria-label="Letterboxd" title="Letterboxd">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path d="M3 3h6v18H3zM15 3h6v18h-6z"/>
      </svg>
    </a>

  </div>
</footer>
