---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2004 SFBAFCC Awards &#8212; Winners</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2004 SFBAFCC Awards &#8212; Winners</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Sideways</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Alexander Payne &#8212; <i>Sideways</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Paul Giamatti &#8212; <i>Sideways</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Julie Delpy &#8212; <i>Before Sunset</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Thomas Haden Church &#8212; <i>Sideways</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Virginia Madsen &#8212; <i>Sideways</i></li>
  </ul>
</div>

<!-- G. Best Screenplay -->
<div class="section-light">
  <h3>Best Screenplay</h3>
  <ul>
    <li>Alexander Payne &#38; Jim Taylor &#8212; <i>Sideways</i></li>
  </ul>
</div>

<!-- M. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Maria Full of Grace</i> (Colombia)</li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Fahrenheit 9/11</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
