---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2005 SFBAFCC Awards &#8212; Winners</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2005 SFBAFCC Awards &#8212; Winners</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Brokeback Mountain</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Ang Lee &#8212; <i>Brokeback Mountain</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Heath Ledger &#8212; <i>Brokeback Mountain</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Reese Witherspoon &#8212; <i>Walk the Line</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Kevin Costner &#8212; <i>The Upside of Anger</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Amy Adams &#8212; <i>Junebug</i></li>
  </ul>
</div>

<!-- G. Best Screenplay -->
<div class="section-light">
  <h3>Best Screenplay</h3>
  <ul>
    <li>George Clooney &#38; Grant Heslov &#8212; <i>Good Night, and Good Luck</i></li>
  </ul>
</div>

<!-- M. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Cach&#233;</i> (a.k.a. Hidden) (France &#47; Austria)</li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Grizzly Man</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
