---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2009 SFBAFCC Awards &#8212; Winners</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2009 SFBAFCC Awards &#8212; Winners</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>The Hurt Locker</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Kathryn Bigelow &#8212; <i>The Hurt Locker</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Colin Firth &#8212; <i>A Single Man</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Meryl Streep &#8212; <i>Julie &#38; Julia</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Christian McKay &#8212; <i>Me and Orson Welles</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Mo&#39;Nique &#8212; <i>Precious: Based on the Novel Push by Sapphire</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Wes Anderson, Noah Baumbach &#8212; <i>Fantastic Mr. Fox</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Quentin Tarantino &#8212; <i>Inglourious Basterds</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Roger Deakins &#8212; <i>A Serious Man</i></li>
  </ul>
</div>

<!-- L. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Coraline</i></li>
  </ul>
</div>

<!-- M. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>You, the Living</i> (Sweden)</li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Anvil! The Story of Anvil</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
