---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2011 SFBAFCC Awards &#8212; Winners</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2011 SFBAFCC Awards &#8212; Winners</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>The Tree of Life</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Terrence Malick &#8212; <i>The Tree of Life</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Gary Oldman &#8212; <i>Tinker Tailor Soldier Spy</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Tilda Swinton &#8212; <i>We Need to Talk About Kevin</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Albert Brooks &#8212; <i>Drive</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Vanessa Redgrave &#8212; <i>Coriolanus</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Bridget O&#39;Connor, Peter Straughan &#8212; <i>Tinker Tailor Soldier Spy</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>J. C. Chandor &#8212; <i>Margin Call</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Emmanuel Lubezki &#8212; <i>The Tree of Life</i></li>
  </ul>
</div>

<!-- L. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Rango</i></li>
  </ul>
</div>

<!-- M. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Certified Copy</i> (France, Italy, &#38; Belgium)</li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Tabloid</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
