---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2015 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2015 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Brooklyn</i></li>
    <li><i>Carol</i></li>
    <li><i>Love &amp; Mercy</i></li>
    <li><i>Mad Max: Fury Road</i></li>
    <li><i>Spotlight</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Alejandro G. I&#241;&#225;rritu &#8212; <i>The Revenant</i></li>
    <li>George Miller &#8212; <i>Mad Max: Fury Road</i> &#8212; <b>WINNER</b></li>
    <li>John Crowley &#8212; <i>Brooklyn</i></li>
    <li>Todd Haynes &#8212; <i>Carol</i></li>
    <li>Tom McCarthy &#8212; <i>Spotlight</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Bryan Cranston &#8212; <i>Trumbo</i></li>
    <li>Ian McKellen &#8212; <i>Mr. Holmes</i></li>
    <li>Leonardo DiCaprio &#8212; <i>The Revenant</i></li>
    <li>Michael Fassbender &#8212; <i>Steve Jobs</i></li>
    <li>Paul Dano &#8212; <i>Love &amp; Mercy</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Amy Adams &#8212; <i>Arrival</i></li>
    <li>Brie Larson &#8212; <i>Room</i></li>
    <li>Cate Blanchett &#8212; <i>Carol</i></li>
    <li>Charlotte Rampling &#8212; <i>45 Years</i></li>
    <li>Saoirse Ronan &#8212; <i>Brooklyn</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Benicio del Toro &#8212; <i>Sicario</i></li>
    <li>Mark Rylance &#8212; <i>Bridge of Spies</i></li>
    <li>Michael Shannon &#8212; <i>99 Homes</i> &#8212; <b>WINNER</b></li>
    <li>Paul Dano &#8212; <i>Love &amp; Mercy</i></li>
    <li>Sylvester Stallone &#8212; <i>Creed</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Alicia Vikander &#8212; <i>Ex Machina</i></li>
    <li>Alicia Vikander &#8212; <i>The Danish Girl</i></li>
    <li>Elizabeth Banks &#8212; <i>Love &amp; Mercy</i></li>
    <li>Helen Mirren &#8212; <i>Trumbo</i></li>
    <li>Mya Taylor &#8212; <i>Tangerine</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Andrew Haigh &#8212; <i>45 Years</i></li>
    <li>Drew Goddard &#8212; <i>The Martian</i></li>
    <li>Emma Donoghue &#8212; <i>Room</i></li>
    <li>Marielle Heller &#8212; <i>The Diary of a Teenage Girl</i></li>
    <li>Nick Hornby &#8212; <i>Brooklyn</i> &#8212; <b>WINNER</b></li>
    <li>Phyllis Nagy &#8212; <i>Carol</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Alex Garland &#8212; <i>Ex Machina</i></li>
    <li>Michael Alan Lerner, Oren Moverman &#8212; <i>Love &amp; Mercy</i> &#8212; <b>WINNER</b></li>
    <li>Sean Baker, Chris Bergoch &#8212; <i>Tangerine</i></li>
    <li>Taylor Sheridan &#8212; <i>Sicario</i></li>
    <li>Tom McCarthy, Josh Singer &#8212; <i>Spotlight</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Edward Lachman &#8212; <i>Carol</i></li>
    <li>Emmanuel Lubezki &#8212; <i>The Revenant</i></li>
    <li>John Seale &#8212; <i>Mad Max: Fury Road</i> &#8212; <b>WINNER</b></li>
    <li>Mark Lee Ping-bing &#8212; <i>The Assassin</i></li>
    <li>Roger Deakins &#8212; <i>Sicario</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li><i>Bridge of Spies</i></li>
    <li><i>Brooklyn</i></li>
    <li><i>Carol</i> &#8212; <b>WINNER</b></li>
    <li><i>Mad Max: Fury Road</i></li>
    <li><i>The Revenant</i></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>Alexandre Desplat &#8212; <i>Frankenstein</i></li>
    <li>Bryce Dessner &#8212; <i>Train Dreams</i></li>
    <li>Jonny Greenwood &#8212; <i>One Battle After Another</i></li>
    <li>Ludwig G&#246;ransson &#8212; <i>Sinners</i></li>
    <li>Mica Levi &#8212; <i>Jackie</i></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Dino Jons&#228;ter &#8212; <i>Love &amp; Mercy</i></li>
    <li>Hank Corwin &#8212; <i>The Big Short</i></li>
    <li>Joe Walker &#8212; <i>Sicario</i></li>
    <li>Margaret Sixel &#8212; <i>Mad Max: Fury Road</i> &#8212; <b>WINNER</b></li>
    <li>Stephen Mirrione &#8212; <i>The Revenant</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Anomalisa</i> &#8212; <b>WINNER</b></li>
    <li><i>Boy and the World</i></li>
    <li><i>Inside Out</i></li>
    <li><i>Shaun the Sheep Movie</i></li>
    <li><i>The Peanuts Movie</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>A Pigeon Sat on a Branch Reflecting on Existence</i></li>
    <li><i>Goodnight Mommy</i></li>
    <li><i>Son of Saul</i> &#8212; <b>WINNER</b></li>
    <li><i>The Assassin</i></li>
    <li><i>Timbuktu</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Amy</i></li>
    <li><i>Best of Enemies</i></li>
    <li><i>Listen to Me Marlon</i> &#8212; <b>WINNER</b></li>
    <li><i>Meru</i></li>
    <li><i>The Look of Silence</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
