---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2016 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2016 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Arrival</i></li>
    <li><i>Hell or High Water</i></li>
    <li><i>La La Land</i></li>
    <li><i>Manchester by the Sea</i></li>
    <li><i>Moonlight</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Barry Jenkins &#8212; <i>Moonlight</i> &#8212; <b>WINNER</b></li>
    <li>Damien Chazelle &#8212; <i>La La Land</i></li>
    <li>Denis Villeneuve &#8212; <i>Arrival</i></li>
    <li>Jeff Nichols &#8212; <i>Loving</i></li>
    <li>Kenneth Lonergan &#8212; <i>Manchester by the Sea</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Casey Affleck &#8212; <i>Manchester by the Sea</i></li>
    <li>Denzel Washington &#8212; <i>Fences</i> &#8212; <b>WINNER</b></li>
    <li>Joel Edgerton &#8212; <i>Loving</i></li>
    <li>Ryan Gosling &#8212; <i>La La Land</i></li>
    <li>Tom Hanks &#8212; <i>Sully</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Amy Adams &#8212; <i>Arrival</i></li>
    <li>Annette Bening &#8212; <i>20th Century Women</i></li>
    <li>Isabelle Huppert &#8212; <i>Elle</i> &#8212; <b>WINNER</b></li>
    <li>Natalie Portman &#8212; <i>Jackie</i></li>
    <li>Ruth Negga &#8212; <i>Loving</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Ben Foster &#8212; <i>Hell or High Water</i></li>
    <li>Jeff Bridges &#8212; <i>Hell or High Water</i></li>
    <li>Mahershala Ali &#8212; <i>Moonlight</i> &#8212; <b>WINNER</b></li>
    <li>Michael Shannon &#8212; <i>Nocturnal Animals</i></li>
    <li>Ralph Fiennes &#8212; <i>A Bigger Splash</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Greta Gerwig &#8212; <i>20th Century Women</i></li>
    <li>Lily Gladstone &#8212; <i>Certain Women</i></li>
    <li>Michelle Williams &#8212; <i>Manchester by the Sea</i></li>
    <li>Naomie Harris &#8212; <i>Moonlight</i></li>
    <li>Viola Davis &#8212; <i>Fences</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>August Wilson &#8212; <i>Fences</i></li>
    <li>David Birke &#8212; <i>Elle</i></li>
    <li>Eric Heisserer &#8212; <i>Arrival</i> &#8212; <b>WINNER</b></li>
    <li>Park Chan-wook, Chung Seo-kyung &#8212; <i>The Handmaiden</i></li>
    <li>Tom Ford &#8212; <i>Nocturnal Animals</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Barry Jenkins &#8212; <i>Moonlight</i> &#8212; <b>WINNER &#8212; Tie</b></li>
    <li>Damien Chazelle &#8212; <i>La La Land</i></li>
    <li>Kenneth Lonergan &#8212; <i>Manchester by the Sea</i> &#8212; <b>WINNER &#8212; Tie</b></li>
    <li>Taylor Sheridan &#8212; <i>Hell or High Water</i></li>
    <li>Yorgos Lanthimos, Efthimis Filippou &#8212; <i>The Lobster</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Bradford Young &#8212; <i>Arrival</i></li>
    <li>James Laxton &#8212; <i>Moonlight</i> &#8212; <b>WINNER</b></li>
    <li>Linus Sandgren &#8212; <i>La La Land</i></li>
    <li>Rodrigo Prieto &#8212; <i>Silence</i></li>
    <li>St&#233;phane Fontaine &#8212; <i>Jackie</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li>Craig Lathrop &#8212; <i>The Witch</i></li>
    <li>David Wasco &#8212; <i>La La Land</i></li>
    <li>Jean Rabasse &#8212; <i>Jackie</i></li>
    <li>Patrice Vermette &#8212; <i>Arrival</i></li>
    <li>Seong-hie Ryu &#8212; <i>The Handmaiden</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>J&#243;hann J&#243;hannsson &#8212; <i>Arrival</i></li>
    <li>Justin Hurwitz &#8212; <i>La La Land</i></li>
    <li>Mica Levi &#8212; <i>Jackie</i> &#8212; <b>WINNER</b></li>
    <li>Nicholas Britell &#8212; <i>Moonlight</i></li>
    <li>Nick Cave, Warren Ellis &#8212; <i>Hell or High Water</i></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Jake Roberts &#8212; <i>Hell or High Water</i></li>
    <li>Jennifer Lame &#8212; <i>Manchester by the Sea</i></li>
    <li>Joe Walker &#8212; <i>Arrival</i> &#8212; <b>WINNER &#8212; Tie</b></li>
    <li>Joi McMillon, Nat Sanders &#8212; <i>Moonlight</i> &#8212; <b>WINNER &#8212; Tie</b></li>
    <li>Tom Cross &#8212; <i>La La Land</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Finding Dory</i></li>
    <li><i>Kubo and the Two Strings</i></li>
    <li><i>Moana</i></li>
    <li><i>The Red Turtle</i> &#8212; <b>WINNER</b></li>
    <li><i>Zootopia</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Elle</i></li>
    <li><i>Neruda</i></li>
    <li><i>The Handmaiden</i> &#8212; <b>WINNER</b></li>
    <li><i>The Salesman</i></li>
    <li><i>Toni Erdmann</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>13th</i></li>
    <li><i>Cameraperson</i></li>
    <li><i>Fire at Sea</i></li>
    <li><i>I Am Not Your Negro</i> &#8212; <b>WINNER</b></li>
    <li><i>O.J.: Made in America</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
