---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2017 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2017 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Call Me by Your Name</i></li>
    <li><i>Get Out</i></li>
    <li><i>The Florida Project</i> &#8212; <b>WINNER</b></li>
    <li><i>The Shape of Water</i></li>
    <li><i>Three Billboards Outside Ebbing, Missouri</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Christopher Nolan &#8212; <i>Dunkirk</i></li>
    <li>Greta Gerwig &#8212; <i>Lady Bird</i></li>
    <li>Guillermo del Toro &#8212; <i>The Shape of Water</i> &#8212; <b>WINNER</b></li>
    <li>Jordan Peele &#8212; <i>Get Out</i></li>
    <li>Sean Baker &#8212; <i>The Florida Project</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Andy Serkis &#8212; <i>War for the Planet of the Apes</i> &#8212; <b>WINNER</b></li>
    <li>Daniel Kaluuya &#8212; <i>Get Out</i></li>
    <li>Gary Oldman &#8212; <i>Darkest Hour</i></li>
    <li>James Franco &#8212; <i>The Disaster Artist</i></li>
    <li>Timoth&#233;e Chalamet &#8212; <i>Call Me by Your Name</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Annette Bening &#8212; <i>Film Stars Don&#8217;t Die in Liverpool</i></li>
    <li>Frances McDormand &#8212; <i>Three Billboards Outside Ebbing, Missouri</i></li>
    <li>Margot Robbie &#8212; <i>I, Tonya</i> &#8212; <b>WINNER</b></li>
    <li>Sally Hawkins &#8212; <i>The Shape of Water</i></li>
    <li>Saoirse Ronan &#8212; <i>Lady Bird</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Armie Hammer &#8212; <i>Call Me by Your Name</i></li>
    <li>Michael Stuhlbarg &#8212; <i>Call Me by Your Name</i></li>
    <li>Richard Jenkins &#8212; <i>The Shape of Water</i></li>
    <li>Sam Rockwell &#8212; <i>Three Billboards Outside Ebbing, Missouri</i></li>
    <li>Willem Dafoe &#8212; <i>The Florida Project</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Allison Janney &#8212; <i>I, Tonya</i></li>
    <li>Holly Hunter &#8212; <i>The Big Sick</i></li>
    <li>Laurie Metcalf &#8212; <i>Lady Bird</i> &#8212; <b>WINNER</b></li>
    <li>Lesley Manville &#8212; <i>Phantom Thread</i></li>
    <li>Melissa Leo &#8212; <i>Novitiate</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Aaron Sorkin &#8212; <i>Molly&#8217;s Game</i></li>
    <li>Brian Selznick &#8212; <i>Wonderstruck</i></li>
    <li>Dee Rees, Virgil Williams &#8212; <i>Mudbound</i></li>
    <li>James Ivory &#8212; <i>Call Me by Your Name</i> &#8212; <b>WINNER</b></li>
    <li>Scott Neustadter, Michael H. Weber &#8212; <i>The Disaster Artist</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Emily V. Gordon, Kumail Nanjiani &#8212; <i>The Big Sick</i></li>
    <li>Greta Gerwig &#8212; <i>Lady Bird</i></li>
    <li>Guillermo del Toro, Vanessa Taylor &#8212; <i>The Shape of Water</i></li>
    <li>Jordan Peele &#8212; <i>Get Out</i> &#8212; <b>WINNER</b></li>
    <li>Martin McDonagh &#8212; <i>Three Billboards Outside Ebbing, Missouri</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Alexis Zabe &#8212; <i>The Florida Project</i></li>
    <li>Dan Laustsen &#8212; <i>The Shape of Water</i></li>
    <li>Hoyte van Hoytema &#8212; <i>Dunkirk</i></li>
    <li>Roger Deakins &#8212; <i>Blade Runner 2049</i> &#8212; <b>WINNER</b></li>
    <li>Vittorio Storaro &#8212; <i>Wonder Wheel</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li>Dennis Gassner &#8212; <i>Blade Runner 2049</i></li>
    <li>Mark Friedberg &#8212; <i>Wonderstruck</i></li>
    <li>Mark Tildesley &#8212; <i>Phantom Thread</i></li>
    <li>Nathan Crowley &#8212; <i>Dunkirk</i></li>
    <li>Paul Denham Austerberry &#8212; <i>The Shape of Water</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>Alexandre Desplat &#8212; <i>The Shape of Water</i></li>
    <li>Benjamin Wallfisch, Hans Zimmer &#8212; <i>Blade Runner 2049</i></li>
    <li>Hans Zimmer &#8212; <i>Dunkirk</i></li>
    <li>Jonny Greenwood &#8212; <i>Phantom Thread</i> &#8212; <b>WINNER</b></li>
    <li>Michael Giacchino &#8212; <i>War for the Planet of the Apes</i></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Joe Walker &#8212; <i>Blade Runner 2049</i></li>
    <li>Lee Smith &#8212; <i>Dunkirk</i></li>
    <li>Michael Kahn &#8212; <i>The Post</i></li>
    <li>Paul Machliss, Jonathan Amos &#8212; <i>Baby Driver</i> &#8212; <b>WINNER</b></li>
    <li>Sidney Wolinsky &#8212; <i>The Shape of Water</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Coco</i> &#8212; <b>WINNER</b></li>
    <li><i>Loving Vincent</i></li>
    <li><i>The Breadwinner</i></li>
    <li><i>The Lego Batman Movie</i></li>
    <li><i>Your Name</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>A Fantastic Woman</i></li>
    <li><i>BPM (Beats per Minute)</i> &#8212; <b>WINNER</b></li>
    <li><i>Frantz</i></li>
    <li><i>In the Fade</i></li>
    <li><i>The Square</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Faces Places</i> &#8212; <b>WINNER</b></li>
    <li><i>Brimstone &amp; Glory</i></li>
    <li><i>City of Ghosts</i></li>
    <li><i>Dawson City: Frozen Time</i></li>
    <li><i>Jane</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
