---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2018 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2018 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>BlacKkKlansman</i></li>
    <li><i>The Favourite</i></li>
    <li><i>First Reformed</i></li>
    <li><i>If Beale Street Could Talk</i></li>
    <li><i>Roma</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Alfonso Cuar&#243;n &#8212; <i>Roma</i></li>
    <li>Barry Jenkins &#8212; <i>If Beale Street Could Talk</i></li>
    <li>Spike Lee &#8212; <i>BlacKkKlansman</i> &#8212; <b>WINNER</b></li>
    <li>Yorgos Lanthimos &#8212; <i>The Favourite</i></li>
    <li>Paul Schrader &#8212; <i>First Reformed</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Christian Bale &#8212; <i>Vice</i></li>
    <li>Willem Dafoe &#8212; <i>At Eternity&#39;s Gate</i></li>
    <li>Ethan Hawke &#8212; <i>First Reformed</i> &#8212; <b>WINNER</b></li>
    <li>Rami Malek &#8212; <i>Bohemian Rhapsody</i></li>
    <li>Viggo Mortensen &#8212; <i>Green Book</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Yalitza Aparicio &#8212; <i>Roma</i></li>
    <li>Toni Collette &#8212; <i>Hereditary</i></li>
    <li>Olivia Colman &#8212; <i>The Favourite</i></li>
    <li>Lady Gaga &#8212; <i>A Star Is Born</i></li>
    <li>Regina Hall &#8212; <i>Support the Girls</i></li>
    <li>Melissa McCarthy &#8212; <i>Can You Ever Forgive Me?</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Mahershala Ali &#8212; <i>Green Book</i></li>
    <li>Adam Driver &#8212; <i>BlacKkKlansman</i></li>
    <li>Richard E. Grant &#8212; <i>Can You Ever Forgive Me?</i></li>
    <li>Michael B. Jordan &#8212; <i>Black Panther</i> &#8212; <b>WINNER</b></li>
    <li>Russell Hornsby &#8212; <i>The Hate U Give</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Amy Adams &#8212; <i>Vice</i></li>
    <li>Regina King &#8212; <i>If Beale Street Could Talk</i> &#8212; <b>WINNER</b></li>
    <li>Thomasin McKenzie &#8212; <i>Leave No Trace</i></li>
    <li>Emma Stone &#8212; <i>The Favourite</i></li>
    <li>Rachel Weisz &#8212; <i>The Favourite</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li><i>Black Panther</i> &#8212; Ryan Coogler, Joe Robert Cole</li>
    <li><i>Leave No Trace</i> &#8212; Debra Granik, Anne Rosellini</li>
    <li><i>Can You Ever Forgive Me?</i> &#8212; Nicole Holofcener, Jeff Whitty</li>
    <li><i>If Beale Street Could Talk</i> &#8212; Barry Jenkins</li>
    <li><i>BlacKkKlansman</i> &#8212; Charlie Wachtel, David Rabinowitz, Kevin Willmott, Spike Lee &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li><i>Eighth Grade</i> &#8212; Bo Burnham</li>
    <li><i>Roma</i> &#8212; Alfonso Cuar&#243;n</li>
    <li><i>The Favourite</i> &#8212; Deborah Davis, Tony McNamara</li>
    <li><i>Vice</i> &#8212; Adam McKay</li>
    <li><i>First Reformed</i> &#8212; Paul Schrader &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li><i>Roma</i> &#8212; Alfonso Cuar&#243;n &#8212; <b>WINNER</b></li>
    <li><i>If Beale Street Could Talk</i> &#8212; James Laxton</li>
    <li><i>The Favourite</i> &#8212; Robbie Ryan</li>
    <li><i>First Man</i> &#8212; Linus Sandgren</li>
    <li><i>Cold War</i> &#8212; Lukasz Zal</li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li><i>Black Panther</i> &#8212; Hannah Beachler &#8212; <b>WINNER</b></li>
    <li><i>Roma</i> &#8212; Eugenio Caballero</li>
    <li><i>The Favourite</i> &#8212; Fiona Crombie</li>
    <li><i>First Man</i> &#8212; Nathan Crowley</li>
    <li><i>If Beale Street Could Talk</i> &#8212; Mark Friedberg</li>
    <li><i>Isle of Dogs</i> &#8212; Paul Harrod, Adam Stockhausen</li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li><i>BlacKkKlansman</i> &#8212; Terence Blanchard &#8212; <b>WINNER</b></li>
    <li><i>If Beale Street Could Talk</i> &#8212; Nicholas Britell</li>
    <li><i>Isle of Dogs</i> &#8212; Alexandre Desplat</li>
    <li><i>Black Panther</i> &#8212; Ludwig G&#246;ransson</li>
    <li><i>First Man</i> &#8212; Justin Hurwitz</li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li><i>First Man</i> &#8212; Tom Cross</li>
    <li><i>The Favourite</i> &#8212; Yorgos Mavropsaridis</li>
    <li><i>Mission: Impossible &#8212; Fallout</i> &#8212; Eddie Hamilton</li>
    <li><i>The Other Side of the Wind</i> &#8212; Bob Murawski, Orson Welles &#8212; <b>WINNER</b></li>
    <li><i>Roma</i> &#8212; Alfonso Cuar&#243;n, Adam Gough</li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Incredibles 2</i></li>
    <li><i>Isle of Dogs</i></li>
    <li><i>Mirai</i></li>
    <li><i>Ralph Breaks the Internet</i></li>
    <li><i>Spider-Man: Into the Spider-Verse</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Burning</i></li>
    <li><i>Cold War</i></li>
    <li><i>Let the Sunshine In</i></li>
    <li><i>Roma</i> &#8212; <b>WINNER</b></li>
    <li><i>Shoplifters</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Free Solo</i></li>
    <li><i>Minding the Gap</i></li>
    <li><i>Shirkers</i></li>
    <li><i>Three Identical Strangers</i></li>
    <li><i>Won&#39;t You Be My Neighbor?</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>


