---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2019 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2019 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>1917</i></li>
    <li><i>The Irishman</i></li>
    <li><i>Marriage Story</i></li>
    <li><i>Once Upon a Time in Hollywood</i> &#8212; <b>WINNER</b></li>
    <li><i>Parasite</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Noah Baumbach &#8212; <i>Marriage Story</i></li>
    <li>Bong Joon-ho &#8212; <i>Parasite</i> &#8212; <b>WINNER</b></li>
    <li>Sam Mendes &#8212; <i>1917</i></li>
    <li>Martin Scorsese &#8212; <i>The Irishman</i></li>
    <li>Joe Talbot &#8212; <i>The Last Black Man in San Francisco</i></li>
    <li>Quentin Tarantino &#8212; <i>Once Upon a Time in Hollywood</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Antonio Banderas &#8212; <i>Pain &amp; Glory</i> &#8212; <b>WINNER</b></li>
    <li>Adam Driver &#8212; <i>Marriage Story</i></li>
    <li>Leonardo DiCaprio &#8212; <i>Once Upon a Time in Hollywood</i></li>
    <li>Joaquin Phoenix &#8212; <i>Joker</i></li>
    <li>Adam Sandler &#8212; <i>Uncut Gems</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Awkwafina &#8212; <i>The Farewell</i></li>
    <li>Scarlett Johansson &#8212; <i>Marriage Story</i></li>
    <li>Lupita Nyong&#39;o &#8212; <i>Us</i> &#8212; <b>WINNER</b></li>
    <li>Charlize Theron &#8212; <i>Bombshell</i></li>
    <li>Alfre Woodard &#8212; <i>Clemency</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Willem Dafoe &#8212; <i>The Lighthouse</i></li>
    <li>Song Kang-ho &#8212; <i>Parasite</i></li>
    <li>Al Pacino &#8212; <i>The Irishman</i></li>
    <li>Joe Pesci &#8212; <i>The Irishman</i></li>
    <li>Brad Pitt &#8212; <i>Once Upon a Time in Hollywood</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Laura Dern &#8212; <i>Marriage Story</i></li>
    <li>Scarlett Johansson &#8212; <i>Jojo Rabbit</i></li>
    <li>Jennifer Lopez &#8212; <i>Hustlers</i> &#8212; <b>WINNER</b></li>
    <li>Margot Robbie &#8212; <i>Bombshell</i></li>
    <li>Zhao Shuzhen &#8212; <i>The Farewell</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li><i>A Beautiful Day in the Neighborhood</i> &#8212; Noah Harpster, Micah Fitzerman-Blue</li>
    <li><i>Hustlers</i> &#8212; Lorene Scafaria</li>
    <li><i>The Irishman</i> &#8212; Steven Zaillian</li>
    <li><i>Jojo Rabbit</i> &#8212; Taika Waititi &#8212; <b>WINNER</b></li>
    <li><i>Little Women</i> &#8212; Greta Gerwig</li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li><i>The Farewell</i> &#8212; Lulu Wang</li>
    <li><i>Knives Out</i> &#8212; Rian Johnson</li>
    <li><i>Marriage Story</i> &#8212; Noah Baumbach</li>
    <li><i>Once Upon a Time in Hollywood</i> &#8212; Quentin Tarantino</li>
    <li><i>Parasite</i> &#8212; Bong Joon-ho, Han Jin Won &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Roger Deakins &#8212; <i>1917</i> &#8212; <b>WINNER</b></li>
    <li>Joerg Widmer &#8212; <i>A Hidden Life</i></li>
    <li>Adam Newport-Berra &#8212; <i>The Last Black Man in San Francisco</i></li>
    <li>Jarin Blaschke &#8212; <i>The Lighthouse</i></li>
    <li>Robert Richardson &#8212; <i>Once Upon a Time in Hollywood</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li>Dennis Gassner &#8212; <i>1917</i></li>
    <li>Bob Shaw, Regina Graves &#8212; <i>The Irishman</i></li>
    <li>Henrik Svenson &#8212; <i>Midsommar</i></li>
    <li>Barbara Ling &#8212; <i>Once Upon a Time in Hollywood</i> &#8212; <b>WINNER</b></li>
    <li>Lee Ha-Jun &#8212; <i>Parasite</i></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>Thomas Newman &#8212; <i>1917</i></li>
    <li>Hildur Gu&#240;nad&#243;ttir &#8212; <i>Joker</i></li>
    <li>Emile Mosseri &#8212; <i>The Last Black Man in San Francisco</i> &#8212; <b>WINNER</b></li>
    <li>Alexandre Desplat &#8212; <i>Little Women</i></li>
    <li>Randy Newman &#8212; <i>Marriage Story</i></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Lee Smith &#8212; <i>1917</i></li>
    <li>Thelma Schoonmaker &#8212; <i>The Irishman</i></li>
    <li>Michael McCusker, Andrew Buckland &#8212; <i>Ford v Ferrari</i> &#8212; <b>WINNER</b></li>
    <li>Fred Raskin &#8212; <i>Once Upon a Time in Hollywood</i></li>
    <li>Jinmo Yang &#8212; <i>Parasite</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>How to Train Your Dragon: The Hidden World</i></li>
    <li><i>I Lost My Body</i> &#8212; <b>WINNER</b></li>
    <li><i>Klaus</i></li>
    <li><i>Missing Link</i></li>
    <li><i>Toy Story 4</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Les Mis&#233;rables</i></li>
    <li><i>Pain and Glory</i></li>
    <li><i>Parasite</i> &#8212; <b>WINNER</b></li>
    <li><i>Portrait of a Lady on Fire</i></li>
    <li><i>Transit</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>American Factory</i></li>
    <li><i>Apollo 11</i> &#8212; <b>WINNER</b></li>
    <li><i>For Sama</i></li>
    <li><i>Maiden</i></li>
    <li><i>One Child Nation</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
