---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2020 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2020 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>First Cow</i> (Honorable Mention)</li>
    <li><i>Minari</i></li>
    <li><i>Never Rarely Sometimes Always</i></li>
    <li><i>Nomadland</i> &#8212; <b>WINNER</b></li>
    <li><i>Promising Young Woman</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Chlo&#233; Zhao &#8212; <i>Nomadland</i> &#8212; <b>WINNER</b></li>
    <li>Eliza Hittman &#8212; <i>Never Rarely Sometimes Always</i></li>
    <li>Emerald Fennell &#8212; <i>Promising Young Woman</i></li>
    <li>Kelly Reichardt &#8212; <i>First Cow</i></li>
    <li>Lee Isaac Chung &#8212; <i>Minari</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Anthony Hopkins &#8212; <i>The Father</i></li>
    <li>Chadwick Boseman &#8212; <i>Ma Rainey&#39;s Black Bottom</i> &#8212; <b>WINNER</b></li>
    <li>Delroy Lindo &#8212; <i>Da 5 Bloods</i></li>
    <li>Riz Ahmed &#8212; <i>Sound of Metal</i></li>
    <li>Steven Yeun &#8212; <i>Minari</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Carey Mulligan &#8212; <i>Promising Young Woman</i> (Honorable Mention)</li>
    <li>Elisabeth Moss &#8212; <i>The Invisible Man</i></li>
    <li>Frances McDormand &#8212; <i>Nomadland</i> &#8212; <b>WINNER</b></li>
    <li>Sidney Flanigan &#8212; <i>Never Rarely Sometimes Always</i></li>
    <li>Viola Davis &#8212; <i>Ma Rainey&#39;s Black Bottom</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Chadwick Boseman &#8212; <i>Da 5 Bloods</i></li>
    <li>David Strathairn &#8212; <i>Nomadland</i></li>
    <li>Leslie Odom Jr. &#8212; <i>One Night in Miami</i></li>
    <li>Paul Raci &#8212; <i>Sound of Metal</i> &#8212; <b>WINNER</b></li>
    <li>Sacha Baron Cohen &#8212; <i>The Trial of the Chicago 7</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Amanda Seyfried &#8212; <i>Mank</i></li>
    <li>Maria Bakalova &#8212; <i>Borat Subsequent Moviefilm</i></li>
    <li>Olivia Colman &#8212; <i>The Father</i></li>
    <li>Toni Collette &#8212; <i>I&#39;m Thinking of Ending Things</i></li>
    <li>Youn Yuh-jung &#8212; <i>Minari</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Charlie Kaufman &#8212; <i>I&#39;m Thinking of Ending Things</i></li>
    <li>Chlo&#233; Zhao &#8212; <i>Nomadland</i></li>
    <li>Kelly Reichardt, Jonathan Raymond &#8212; <i>First Cow</i> &#8212; <b>WINNER</b></li>
    <li>Kemp Powers &#8212; <i>One Night in Miami</i></li>
    <li>Ruben Santiago-Hudson &#8212; <i>Ma Rainey&#39;s Black Bottom</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Aaron Sorkin &#8212; <i>The Trial of the Chicago 7</i></li>
    <li>Eliza Hittman &#8212; <i>Never Rarely Sometimes Always</i></li>
    <li>Emerald Fennell &#8212; <i>Promising Young Woman</i></li>
    <li>Jack Fincher &#8212; <i>Mank</i></li>
    <li>Lee Isaac Chung &#8212; <i>Minari</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Christopher Blauvelt &#8212; <i>First Cow</i> &#8212; <b>WINNER</b></li>
    <li>Erik Messerschmidt &#8212; <i>Mank</i></li>
    <li>Hoyte van Hoytema &#8212; <i>Tenet</i></li>
    <li>Joshua James Richards &#8212; <i>Nomadland</i> (Honorable Mention)</li>
    <li>Newton Thomas Sigel &#8212; <i>Da 5 Bloods</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li>Anthony Gasparro, Vanessa Knoll &#8212; <i>First Cow</i> &#8212; <b>WINNER</b></li>
    <li>Mark Ricker, Karen O&#39;Hara &#8212; <i>Ma Rainey&#39;s Black Bottom</i></li>
    <li>Donald Graham Burt, Jan Pascale &#8212; <i>Mank</i></li>
    <li>Barry Robinson, Mark Zuelzke, Janessa Hitsman &#8212; <i>One Night in Miami</i></li>
    <li>Nathan Crowley, Kathy Lucas &#8212; <i>Tenet</i></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>Emile Mosseri &#8212; <i>Minari</i></li>
    <li>Terence Blanchard &#8212; <i>Da 5 Bloods</i></li>
    <li>Terence Blanchard &#8212; <i>One Night in Miami</i></li>
    <li>Trent Reznor, Atticus Ross &#8212; <i>Mank</i></li>
    <li>Trent Reznor, Atticus Ross, Jon Batiste &#8212; <i>Soul</i> &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Alan Baumgarten &#8212; <i>The Trial of the Chicago 7</i></li>
    <li>Chlo&#233; Zhao &#8212; <i>Nomadland</i> &#8212; <b>WINNER</b></li>
    <li>Jennifer Lame &#8212; <i>Tenet</i></li>
    <li>Kirk Baxter &#8212; <i>Mank</i></li>
    <li>Yorgos Lamprinos &#8212; <i>The Father</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Marona&#39;s Fantastic Tale</i></li>
    <li><i>Onward</i></li>
    <li><i>Over the Moon</i></li>
    <li><i>Soul</i> &#8212; <b>WINNER</b></li>
    <li><i>Wolfwalkers</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>Another Round</i> &#8212; <b>WINNER</b></li>
    <li><i>Bacurau</i></li>
    <li><i>Collective</i></li>
    <li><i>La Llorona</i></li>
    <li><i>Two of Us</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Collective</i> &#8212; <b>WINNER</b></li>
    <li><i>Crip Camp</i></li>
    <li><i>Boys State</i> (Honorable Mention)</li>
    <li><i>The Truffle Hunters</i></li>
    <li><i>Time</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
