---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2021 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2021 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Drive My Car</i></li>
    <li><i>The Green Knight</i></li>
    <li><i>Licorice Pizza</i></li>
    <li><i>The Power of the Dog</i> &#8212; <b>WINNER</b></li>
    <li><i>West Side Story</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li>Denis Villeneuve &#8212; <i>Dune</i></li>
    <li>Jane Campion &#8212; <i>The Power of the Dog</i> &#8212; <b>WINNER</b></li>
    <li>Maggie Gyllenhaal &#8212; <i>The Lost Daughter</i></li>
    <li>Ryusuke Hamaguchi &#8212; <i>Drive My Car</i></li>
    <li>Steven Spielberg &#8212; <i>West Side Story</i></li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Andrew Garfield &#8212; <i>Tick, Tick &#8230; Boom!</i></li>
    <li>Benedict Cumberbatch &#8212; <i>The Power of the Dog</i> &#8212; <b>WINNER</b></li>
    <li>Denzel Washington &#8212; <i>The Tragedy of Macbeth</i></li>
    <li>Hidetoshi Nishijima &#8212; <i>Drive My Car</i></li>
    <li>Nicolas Cage &#8212; <i>Pig</i></li>
    <li>Will Smith &#8212; <i>King Richard</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Jessica Chastain &#8212; <i>The Eyes of Tammy Faye</i></li>
    <li>Kristen Stewart &#8212; <i>Spencer</i></li>
    <li>Olivia Colman &#8212; <i>The Lost Daughter</i> &#8212; <b>WINNER</b></li>
    <li>Pen&#233;lope Cruz &#8212; <i>Parallel Mothers</i></li>
    <li>Tessa Thomson &#8212; <i>Passing</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Bradley Cooper &#8212; <i>Licorice Pizza</i></li>
    <li>Ciri&#225;n Hinds &#8212; <i>Belfast</i></li>
    <li>J.K. Simmons &#8212; <i>Being the Ricardos</i></li>
    <li>Kodi Smit-McPhee &#8212; <i>The Power of the Dog</i> &#8212; <b>WINNER</b></li>
    <li>Troy Kotsur &#8212; <i>CODA</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Arianna DeBose &#8212; <i>West Side Story</i></li>
    <li>Jessie Buckley &#8212; <i>The Lost Daughter</i></li>
    <li>Kirsten Dunst &#8212; <i>The Power of the Dog</i> &#8212; <b>WINNER</b></li>
    <li>Marlee Matlin &#8212; <i>CODA</i></li>
    <li>Ruth Negga &#8212; <i>Passing</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li><i>Drive My Car</i> &#8212; Ryusuke Hamaguchi, Takamasa Oe</li>
    <li><i>Dune</i> &#8212; Jon Spaihts, Denis Villeneuve, Eric Roth</li>
    <li><i>The Lost Daughter</i> &#8212; Maggie Gyllenhaal</li>
    <li><i>Passing</i> &#8212; Rebecca Hall</li>
    <li><i>The Power of the Dog</i> &#8212; Jane Campion &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li><i>Being the Ricardos</i> &#8212; Aaron Sorkin</li>
    <li><i>Belfast</i> &#8212; Kenneth Branagh</li>
    <li><i>C&#8217;mon Cmon</i> &#8212; Mike Mills &#8212; <b>WINNER</b></li>
    <li><i>Don&#8217;t Look Up</i> &#8212; Adam McKay, David Sirota</li>
    <li><i>Licorice Pizza</i> &#8212; Paul Thomas Anderson</li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li><i>Dune</i> &#8212; Greig Fraser</li>
    <li><i>The French Dispatch</i> &#8212; Robert Yeoman</li>
    <li><i>The Green Knight</i> &#8212; Andrew Droz Palermo</li>
    <li><i>Nightmare Alley</i> &#8212; Dan Laustsen</li>
    <li><i>The Power of the Dog</i> &#8212; Ari Wegner</li>
    <li><i>The Tragedy of Macbeth</i> &#8212; Bruno Delbonnel &#8212; <b>WINNER</b></li>
    <li><i>West Side Story</i> &#8212; Janusz Kami&#324;ski</li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li><i>Dune</i> &#8212; Patrice Vermette</li>
    <li><i>The French Dispatch</i> &#8212; Adam Stockhausen</li>
    <li><i>The Green Knight</i> &#8212; Jade Healy</li>
    <li><i>Nightmare Alley</i> &#8212; Tamara Deverell &#8212; <b>WINNER</b></li>
    <li><i>The Tragedy of Macbeth</i> &#8212; Stefan Dechant</li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li><i>Dune</i> &#8212; Hans Zimmer</li>
    <li><i>The French Dispatch</i> &#8212; Alexandre Desplat</li>
    <li><i>The Green Knight</i> &#8212; Daniel Hart</li>
    <li><i>The Power of the Dog</i> &#8212; Jonny Greenwood &#8212; <b>WINNER</b></li>
    <li><i>Spencer</i> &#8212; Jonny Greenwood</li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li><i>Belfast</i> &#8212; &#218;na N&#237; Dhongha&#237;le</li>
    <li><i>Dune</i> &#8212; Joe Walker</li>
    <li><i>Licorice Pizza</i> &#8212; Andy Jurgensen</li>
    <li><i>The Power of the Dog</i> &#8212; Peter Sciberras &#8212; <b>WINNER</b></li>
    <li><i>West Side Story</i> &#8212; Sarah Broshar, Michael Kahn</li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Belle</i></li>
    <li><i>Encanto</i> &#8212; <b>WINNER</b></li>
    <li><i>Flee</i> (Honorable Mention)</li>
    <li><i>Luca</i></li>
    <li><i>The Mitchells vs. The Machines</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>A Hero</i></li>
    <li><i>Drive My Car</i> &#8212; <b>WINNER</b></li>
    <li><i>Flee</i></li>
    <li><i>Parallel Mothers</i></li>
    <li><i>The Worst Person in the World</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>Flee</i></li>
    <li><i>Procession</i></li>
    <li><i>The Rescue</i></li>
    <li><i>Summer of Soul</i> &#8212; <b>WINNER</b></li>
    <li><i>The Velvet Underground</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
