---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The 2025 SFBAFCC Awards &#8212; Winners &amp; Nominees</title>
<link rel="stylesheet" href="/assets/styles.css">
</head>

<body class="subpage">

{% include header.html %}

<div class="section-light">
  <h2>The 2025 SFBAFCC Awards &#8212; Winners &amp; Nominees</h2>
</div>

<!-- A. Best Picture -->
<div class="section-light">
  <h3>Best Picture</h3>
  <ul>
    <li><i>Hamnet</i></li>
    <li><i>One Battle After Another</i> &#8212; <b>WINNER</b></li>
    <li><i>Sentimental Value</i></li>
    <li><i>Sinners</i></li>
    <li><i>Train Dreams</i></li>
  </ul>
</div>

<!-- B. Best Director -->
<div class="section-light">
  <h3>Best Director</h3>
  <ul>
    <li><i>Hamnet</i> &#8212; Chlo&#233; Zhao</li>
    <li><i>It Was Just an Accident</i> &#8212; Jafar Panahi</li>
    <li><i>One Battle After Another</i> &#8212; Paul Thomas Anderson &#8212; <b>WINNER</b></li>
    <li><i>Sentimental Value</i> &#8212; Joachim Trier</li>
    <li><i>Sinners</i> &#8212; Ryan Coogler</li>
  </ul>
</div>

<!-- C. Best Actor -->
<div class="section-light">
  <h3>Best Actor</h3>
  <ul>
    <li>Leonardo DiCaprio &#8212; <i>One Battle After Another</i></li>
    <li>Joel Edgerton &#8212; <i>Train Dreams</i></li>
    <li>Ethan Hawke &#8212; <i>Blue Moon</i> &#8212; <b>WINNER</b></li>
    <li>Michael B. Jordan &#8212; <i>Sinners</i></li>
    <li>Wagner Moura &#8212; <i>The Secret Agent</i></li>
  </ul>
</div>

<!-- D. Best Actress -->
<div class="section-light">
  <h3>Best Actress</h3>
  <ul>
    <li>Jessie Buckley &#8212; <i>Hamnet</i></li>
    <li>Rose Byrne &#8212; <i>If I Had Legs I&#8217;d Kick You</i> &#8212; <b>WINNER</b></li>
    <li>Renate Reinsve &#8212; <i>Sentimental Value</i></li>
    <li>Emma Stone &#8212; <i>Bugonia</i></li>
    <li>Eva Victor &#8212; <i>Sorry, Baby</i></li>
  </ul>
</div>

<!-- E. Best Supporting Actor -->
<div class="section-light">
  <h3>Best Supporting Actor</h3>
  <ul>
    <li>Benicio Del Toro &#8212; <i>One Battle After Another</i> &#8212; <b>WINNER</b></li>
    <li>Jacob Elordi &#8212; <i>Frankenstein</i></li>
    <li>Paul Mescal &#8212; <i>Hamnet</i></li>
    <li>Sean Penn &#8212; <i>One Battle After Another</i></li>
    <li>Stellan Skarsg&#229;rd &#8212; <i>Sentimental Value</i></li>
  </ul>
</div>

<!-- F. Best Supporting Actress -->
<div class="section-light">
  <h3>Best Supporting Actress</h3>
  <ul>
    <li>Elle Fanning &#8212; <i>Sentimental Value</i></li>
    <li>Inga Ibsdotter Lilleaas &#8212; <i>Sentimental Value</i></li>
    <li>Amy Madigan &#8212; <i>Weapons</i> &#8212; <b>WINNER</b></li>
    <li>Wunmi Mosaku &#8212; <i>Sinners</i></li>
    <li>Teyana Taylor &#8212; <i>One Battle After Another</i></li>
  </ul>
</div>

<!-- G. Best Adapted Screenplay -->
<div class="section-light">
  <h3>Best Adapted Screenplay</h3>
  <ul>
    <li>Will Tracy &#8212; <i>Bugonia</i></li>
    <li>Chlo&#233; Zhao, Maggie O&#8217;Farrell &#8212; <i>Hamnet</i></li>
    <li>Park Chan-wook, Lee Kyoung-mi, Jahye Lee, Don McKel &#8212; <i>No Other Choice</i></li>
    <li>Paul Thomas Anderson &#8212; <i>One Battle After Another</i> &#8212; <b>WINNER</b></li>
    <li>Clint Bentley, Greg Kwedar &#8212; <i>Train Dreams</i></li>
  </ul>
</div>

<!-- H. Best Original Screenplay -->
<div class="section-light">
  <h3>Best Original Screenplay</h3>
  <ul>
    <li>Ryan Coogler &#8212; <i>Sinners</i></li>
    <li>Eskil Vogt, Joachim Trier &#8212; <i>Sentimental Value</i> &#8212; <b>WINNER</b></li>
    <li>Eva Victor &#8212; <i>Sorry, Baby</i></li>
    <li>Jafar Panahi &#8212; <i>It Was Just an Accident</i></li>
    <li>Zach Cregger &#8212; <i>Weapons</i></li>
  </ul>
</div>

<!-- I. Best Cinematography -->
<div class="section-light">
  <h3>Best Cinematography</h3>
  <ul>
    <li>Dan Laustsen &#8212; <i>Frankenstein</i></li>
    <li>&#321;ukasz &#379;al &#8212; <i>Hamnet</i></li>
    <li>Michael Bauman &#8212; <i>One Battle After Another</i></li>
    <li>Autumn Durald Arkapaw &#8212; <i>Sinners</i> &#8212; <b>WINNER</b></li>
    <li>Adolpho Veloso &#8212; <i>Train Dreams</i></li>
  </ul>
</div>

<!-- J. Best Production Design -->
<div class="section-light">
  <h3>Best Production Design</h3>
  <ul>
    <li><i>Frankenstein</i> &#8212; Tamara Deverell</li>
    <li><i>Hamnet</i> &#8212; Fiona Crombie</li>
    <li><i>Marty Supreme</i> &#8212; Jack Fisk</li>
    <li><i>One Battle After Another</i> &#8212; Florencia Martin</li>
    <li><i>Sinners</i> &#8212; Hannah Beachler &#8212; <b>WINNER</b></li>
  </ul>
</div>

<!-- K. Best Original Score -->
<div class="section-light">
  <h3>Best Original Score</h3>
  <ul>
    <li>Jerskin Fendrix &#8212; <i>Bugonia</i></li>
    <li>Alexandre Desplat &#8212; <i>Frankenstein</i></li>
    <li>Jonny Greenwood &#8212; <i>One Battle After Another</i></li>
    <li>Ludwig G&#246;ransson &#8212; <i>Sinners</i> &#8212; <b>WINNER</b></li>
    <li>Bryce Dessner &#8212; <i>Train Dreams</i></li>
  </ul>
</div>

<!-- L. Best Editing -->
<div class="section-light">
  <h3>Best Editing</h3>
  <ul>
    <li>Kirk Baxter &#8212; <i>A House Of Dynamite</i></li>
    <li>Stephen Mirrione &#8212; <i>F1: The Movie</i></li>
    <li>Ronald Bronstein, Josh Safdie &#8212; <i>Marty Supreme</i></li>
    <li>Andy Jurgensen &#8212; <i>One Battle After Another</i> &#8212; <b>WINNER</b></li>
    <li>Michael P. Shawver &#8212; <i>Sinners</i></li>
  </ul>
</div>

<!-- M. Best Animated Feature -->
<div class="section-light">
  <h3>Best Animated Feature</h3>
  <ul>
    <li><i>Arco</i></li>
    <li><i>Elio</i></li>
    <li><i>KPop Demon Hunters</i> &#8212; <b>WINNER</b></li>
    <li><i>Little Am&#233;lie or the Character of Rain</i></li>
    <li><i>Zootopia 2</i></li>
  </ul>
</div>

<!-- N. Best International Feature Film -->
<div class="section-light">
  <h3>Best International Feature Film</h3>
  <ul>
    <li><i>It Was Just an Accident</i> &#8212; <b>WINNER</b></li>
    <li><i>No Other Choice</i></li>
    <li><i>The Secret Agent</i></li>
    <li><i>Sentimental Value</i></li>
    <li><i>Sirat</i></li>
  </ul>
</div>

<!-- O. Best Documentary Feature -->
<div class="section-light">
  <h3>Best Documentary Feature</h3>
  <ul>
    <li><i>The Alabama Solution</i></li>
    <li><i>Come See Me In The Good Light</i></li>
    <li><i>Orwell: 2+2=5</i> &#8212; <b>WINNER</b></li>
    <li><i>The Perfect Neighbor</i></li>
    <li><i>Riefenstahl</i></li>
  </ul>
</div>

{% include footer.html %}

</body>
</html>
